* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
   /* light blue background */
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.normal-container {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.normal-container h1 {
  font-size: 3rem;
  color: black; /* dark blue */
}

.normal-container p {
  font-size: 1.2rem;
  color: black;
}

.slides {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  padding-bottom: 190px; /* Add padding at the bottom of the slides */
}

.carousel {
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
  transform: translateX(0);
}

.dots {
  position: absolute;
  bottom: 0; /* Position the dots 3 inches below the slides */
  left: 0;
  right: 0;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2E4053;
  cursor: pointer;
  margin: 0 5px;
}

.dot.active {
  background-color: white; /* dark blue */
}

.no-more-info {
  display: none; /* Hide the no more information message */
}

.login-box h2 {
  font-size: 2rem;
  color: #2E4053; /* dark blue */
  margin-bottom: 20px;
}

.login-box label {
  display: block;
  font-size: 1.2rem;
  color: #2E4053; /* dark blue */
  margin-bottom: 5px;
}

.login-box input[type="email"],
.login-box input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #F5F5F5; /* light gray */
  margin-bottom: 10px;
}

.login-box input[type="email"]:focus,
.login-box input[type="password"]:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.login-box .forgot-password {
  display: block;
  font-size: 1.2rem;
  color: #2E4053; /* dark blue */
  margin-bottom: 10px;
  text-decoration: none;
}

.login-box .forgot-password:hover {
  text-decoration: underline;
}

.login-box button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2E4053; /* dark blue */
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.login-box button[type="submit"]:hover {
  background-color: #1A2330; /* darker blue */
}

.login-box p {
  font-size: 1.2rem;
  color: #2E4053; /* dark blue */
  margin-top: 20px;
}

.login-box p a {
  color: #2E4053; /* dark blue */
  text-decoration: none;
}

.login-box p a:hover {
  text-decoration: underline;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.carousel.slide {
  animation: slide 5s infinite;
}

.carousel.slide-1 {
  animation-delay: 0s;
}

.carousel.slide-2 {
  animation-delay: 2s;
}

.carousel.slide-3 {
  animation-delay: 4s;
}

.carousel.slide-4 {
  animation-delay: 6s;
}

.carousel.slide-5 {
  animation-delay: 8s;
}

.password-eye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-eye::before {
  font-family: "Font Awesome 5 Free";
  content: "\f06e"; /* eye icon */
  font-size: 18px;
  color: #2E4053; /* dark blue */
}

.password-eye:hover::before {
  color: #1A2330; /* darker blue */
}

/* For screens with a maximum width of 768px (e.g., tablets and large phones) */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .normal-container {
    flex: none;
    width: 100%;
    padding: 10px;
  }
  .login-container {
    margin: 20px;
    padding: 10px;
  }
  .login-box {
    width: 100%;
    padding: 10px;
  }
}

/* For screens with a maximum width of 480px (e.g., small phones) */
@media (max-width: 480px) {
  .normal-container {
    padding: 5px;
  }
  .login-container {
    margin: 10px;
    padding: 5px;
  }
  .login-box {
    padding: 5px;
  }
  .login-box input[type="email"],
  .login-box input[type="password"] {
    padding: 5px;
  }
  .login-box button[type="submit"] {
    padding: 5px;
  }
}

.login-box {
  margin: 0 auto; /* center the login box horizontally */
  box-sizing: border-box; /* ensure that padding is included in the width calculation */
}

.welcome-message img {
  width: 25%; /* set the width to 25% of the parent container */
  height: auto; /* set the height to auto to maintain the aspect ratio */
  margin-bottom: 20px; /* add some space between the image and the welcome message */
  border-radius: 50%; /* make the image a circle */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* add a subtle shadow */
}

mark {
  background-color: #FFC5C5; /* light pink */
  font-size: 1.2em; /* increase text size */
  padding: 0.2em; /* add some padding to make it look nicer */
}

.login-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent; /* light cyan */
  margin-bottom: 80px;
  padding-top: 120px;
  margin-right: 100px;
  margin-top: 120px;
  margin-left: 100px;
  width: 30vw; /* set the width to 40% of the viewport width */
  height: 88vh; /* increase the height to 75% of the viewport height */
}

.login-image {
  width: 20%; /* set the width to 25% of the parent container */
  height: 18%; /* set the height to auto to maintain the aspect ratio */
  
  
  
  
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    position: absolute;
    bottom: 65%;
    left: 71%;
    transform: translate(-50%, -50%);
  
  display: block; /* make the image a block element to center it horizontally */
}

.login-box {
  width: 75%; /* decrease the width of the login box */
}

.login-box p {
  text-align: center; /* center the text */
  margin-bottom: 10px; /* add some space below the text */
}

@media (max-width: 768px) {
  .login-container {
    width: 60vw; /* set the width to 60% of the viewport width on smaller screens */
  }
}

@media (max-width: 480px) {
  .login-container {
    width: 80vw; /* set the width to 80% of the viewport width on very small screens */
  }
}

.status-indicator {
  display: inline-block;
  font-size: 24px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  text-align: center;
  margin-bottom: -30px;
}

.dot.loading {
  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.status-text {
  font-size: 16px;
  margin-left: 10px;
}

.status-text.good {
  color: #0f0; /* green */
}

.status-text.bad {
  color: #000; /* black */
}

.dots {
  position: absolute;
  bottom: 0; /* Position the dots 3 inches below the slides */
  left: 0;
  right: 0;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2E4053;
  cursor: pointer;
  margin: 0 5px;
}

.dot.active {
  background-color: white; /* dark blue */
}

.no-more-info {
  display: none; /* Hide the no more information message */
}

.login-box {
  margin-top: -5px;
  margin-bottom: 5px;
}

/* Media query for iPhone portrait and landscape mode */
@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }
  .login-container {
    order: 1;
    width: 100%;
  }
  .normal-container {
    order: 2;
    width: 100%;
  }
}


/* Media query for iPhone Max 14 Pro and iPhone XR landscape mode */
@media (max-width: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .container {
     flex-direction: column;
   }
  .login-container {
     order: 1;
     width: 80%;
     height: 150vh;
   }
  .normal-container {
     order: 2;
     width: 100%;
   }
 }

 



body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100vh; /* Set the height of the body to the full viewport height */
  width: 100vw; /* Set the width of the body to the full viewport width */
  background-image: url('white-thick-clouds-1-1172878.jpg');
  background-size: cover; /* Make the background image cover the entire page */
  background-position: center; /* Center the background image */
}


.login-box {
   /* Set the width of the login box */
  background: none; /* Remove any background color or image */
  border: none; /* Remove any border */
  box-shadow: none; /* Remove any box shadow */
}





/* Portrait orientation */
@media (orientation: portrait) {
  body {
    background-image: url('white-thick-clouds-1-1172878.jpg');
    background-size: cover; /* Ensure the image covers the full page */
    background-position: center; /* Center the image horizontally and vertically */
  }
}
/* Landscape orientation */
@media (orientation: landscape) {
  body {
    
    background-position: center;
   
  }
}
